
@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  background: url("../img/background-1.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Coda", cursive;
}

.play-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #02ccba;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.play-btn:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.start-header h1 {
  text-align: center;
  font-weight: normal;
  color: #02ccba;
  text-transform: uppercase;
  font-size: 3.5em;
  white-space: nowrap;
  z-index: 1000;
  font-family: "Bangers", cursive;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.6);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.start-header h3 {
  text-align: center;
  font-weight: normal;
  color: #26949a;
  text-transform: uppercase;
  font-size: 2.5em;
  white-space: nowrap;
  z-index: 1000;
  font-family: "Bangers", cursive;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.button_cont {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 50em) {
  h1 {
    font-size: 12vw;
  }
  footer {
    font-size: 9vw;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
